@charset "UTF-8";

@media screen and ( min-width:768px) and ( max-width:992px) {  /*configurações tablets */
    section#login{
        width: 80vw;
        height: 460px;
    }
    section#login > div#img{
        
        float:left;
        width: 340px;
        height: 460px;;
    }
    section#login > div#formulario{
        position: absolute;
        float:right;
        width: 250px;
        left: 50%;
        top: 50%;
        transform: translate(10%, -60%);
        

    }
    div#formulario > p{
        font-size: 1em;
    }
    form > div.campo{
        margin-bottom: 10px;
    }

}
@media screen and ( min-width:992px) {  /*configurações telas grandes*/

    body{
        background:url('../imagens/pexels-quang-nguyen-vinh-222549-14036071\ \(1\).jpg') center center no-repeat fixed ; 
        background-size: cover;
        height: 100dvh;
    }
    section#login{
        width: 900px;
        height: 460px;

    }
    section#login > div#img{
        float: right;
        width: 400px;
        height: 460px;;
    }
    section#login > div#formulario{
        position: absolute;
        float: left;
        width: 50%;
        left: 50%;
        top: 10%;
        transform: translate(-90%,1%);
    }
    div#formulario > h1{
        font-size: 2em;
        
    }
    div#formulario > p{
        font-size: 1.2em;
    }
    form > div.campo {
        width: 80%;
        margin-bottom: 15px;
    }
     
    
    form > input[type=submit] , form > a.botao{
        width: 80%;
    }

}