@charset "UTF-8";

@media screen and ( min-width:768px) and ( max-width:992px) {
    section#login{
        width: 80vw;
    }
    section#login > div#img{
        
        float:left;
        width: 300px;
        height: 350px;;
    }
    section#login > div#formulario{
        float:right;
        width: 250px;
        

    }

}
@media screen and ( min-width:992px) {

    body{
        background:url('../imagens/pexels-quang-nguyen-vinh-222549-14036071\ \(1\).jpg') center center no-repeat fixed ; 
        background-size: cover;
        height: 100dvh;
    }
    section#login{
        width: 900px;

    }
    section#login > div#img{
        float: right;
        width: 400px;
        height: 350px;;
    }
    section#login > div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
        font-size: 1.2em;
    }

}