@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body,html{
    
   background-color: blueviolet;
}
main{
    display: block;
    position:relative;
    height: 95dvh;
    width: 95dvw;

    
}
section#login{
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50% ,-50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: auto;

    }
 h1{
        text-align: center;
        padding: 10px;
        font-size: 2em;
    }

 section#login > div#img{
        background:  url('../imagens/girasol-m.jpg') center top no-repeat fixed;
        background-size: cover;
        height: 200px;
        display: block;
     
}

section#login > div#formulario{
    display: block;
 margin: auto;
 width: 250px;
height: auto ;
color:black;
  padding: 20px;
   border: 1px solid white;
   border-radius: 20px;
}
div#formulario > p{
    padding: 10px;
    margin: 0px;
}

input{
    padding: 5px;
    border-radius: 5px;
}


#enviar{
    width: 185px;
    margin-left: 25px;
   
}
a{
    text-align: center;
    background-color: white;
    color: black;
   
   
    
}

