@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body,html{
    
    background:  url('../imagens/girasol-m.jpg') center top no-repeat fixed;
    background-size: cover;
    
}
main{
    display: block;
    position:relative;
    height: 95dvh;
    width: 95dvw;

    
}
section{
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50% ,-50%);
    }
    h1{
        text-align: center;
        padding: 10px;
        font-size: 2em;
    }
    form>p{
        padding: 5px;
    }

#login{
    display: block;
 margin: auto;
 background-color: #00000046;
 width: 250px;
height: auto ;
color: white;
  padding: 20px;
   border: 1px solid white;
   border-radius: 10px;
}input{
    padding: 5px;
    border-radius: 5px;
}


#enviar{
    width: 185px;
    margin-left: 25px;
   
}
a{
    text-align: center;
    background-color: white;
    color: black;
   
   
    
}

